body {
    background-color: grey;
    margin: 0;
}
h1 {
    color: black;
    text-align: left;
    font-size: 2em;
    font-family: Monospace, Ariel, Sans-serif, Oxygen, Times New Roman, Times;
}

div{
    border: 2px;
    width: 2em;
    height: 4.5em;
    text-align: center;
}

